sudo: required
language: python
python:
- '3.6'
services:
- docker
install:
- pip install -r tests/test-requirements.txt
env:
  global:
  - EC2_REGION=eu-west-1  
  - secure: Ri/AYt49VVjSn2vtBP5NKuV7P3Nizo10zRWMCf23ZXkBsBNQYMnOYyGlIWOGdsdsAli+UtbggzsbYnb386l+mRxVcP3sYg0zMy+VP4NysHCPR2YwKwqENyycW6yYrelOpUWxQbjkZxbbCTNoe178iHXuw2LDp6aXYYgAROaOUoHBLPhxXbvrEl2TYfeQbZIRiACczX3VLqOWAWk1o0B6qXjEvXuBkuoc9l35skvUDTn3kCpO23lu0F3MSDkPN3DtV95+YgLZyZhhlS4aJcx92DM1aHW4mt/+JuBZkPyivhqoLL20ApuyPy6TD6hDx+Tqrc3IMhsfwaR0aXHYlQxMqZbisnIZNZi82mZO2AMhUThM63mQGLwvSm6dlBoQHqYrghCrq3KFke6DiakpRMygd8d4dtF1RQQNGzl+H+b0KNmnQCyZmlr0nKYFQhxxEPyyWEb8mm1ACTtfYnJELWh15PGcfLRAiRMBpUxor24xS1PzqveUtEysu9EvmjmgHDFxJb/uzKLNXAKqgT8XGqIjX0ChgSSAuzSbc3LO8cS9XMUQ3dZY5QhoF1kUa2GruHx9wGl5FesYAaUR6IILupUEanRHpjkiJq2muHEoPZX5bJIMpYZzVFbZhOsjOVpf+imzsXypbYAQ8hh/U7kdLTMmTxAH1KXGV8QJanuuOtccSAE=
  - secure: LxP7kZORWCmb37abj8o+e9Z4KxlWqaT853CcRQHw/vuh+WTY+aoRlM4TJJrLHd9IcINtwEB+HFMF3G4tV/Zw0zU+VdZOcJz+hLqASqBHd6hJj8muuJ3j3NWpJxaAQJUTl6RNt78iJYf5E3pJwdv6mn9u9sGOLwjRfOk884/B4zl23UHKveH+fLhaYSf5SK5QeP6d2ctzvA4NLdcdGkldQiZU0VVzeEuwvB0UXIZr0DrMHwTIh8ANZaYUH7NtW2Ss214kF2EEv5/ngA6/tt2EcnwsYds6MhIiLenM2cSYhitlwANqjeJAtK5y25su7smRJEilrr9LH69A7lajNvwPjIeJpc94duN2tyVTiXy6B7IH6gpDC0DnDjQkZMUOJSYJUzquS883+KnoTZbFTmMg0hrLrgZnkR3stN5O/OWXvL+LZcrJaDfPzBc3XyuunjzOKw2wGX3pGCFbZ9SGxl+FK0ljCGlchLbTShB0FaXEc+r/RVO4qOpeH/qURXeHNohCzFaEFBCR162xFBbCfwblF9eWx4n3VnUVZ29gU1IfdLoSxaCFO8JqgLi9V70D7qQNOLR5VYZdajcTXq7sJs92u5fP313guvvIZ28E3TvQhjemeHsnPG9O96zuAYq5Yh89C5H3VtFufTMflM97QpTNGPW6Yz9cjK4BpV4xGXBdQ98=
script:
- ansible-lint playbook.yml -x 201,305,504 -v
- cd roles/docker
- molecule test -s aws-ec2
