---

    - name: Check if Swarm has already been Initialized
      shell: docker info --format \{\{.Swarm.LocalNodeState\}\}\
      register: swarm_status 
      changed_when: false

    - name: Add Workers to the Swarm
      shell: "docker swarm join --token {{ swarm_join_token }} {{ swarm_manager_ip }}:2377"
      when: swarm_status.stdout_lines[0] == "inactive"